.header{
	display: flex;
	align-items: center;
	background-color: #ed1d24;
	padding: 5px;
}
body {
	border: 0px;
}
#logo {
	width: 150px;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: center;
	padding-left: 40%;
}

ul {
	display: flex;
	padding: 10px;
	justify-content: flex-end;
}
li{
	list-style-type: none;
	padding-right: 5px;
	font-size: 25px;
}

a {
	color: white;
	text-decoration: none;

	/* mihat norm shrift tur */
}

.authentication {
	display: flex;
	align-items: center;
	padding-left: 2%;
}

#logIn {
	background-color: #fff9f9;
	border-radius: 5px;
	padding: 2.5px 10px 7px 10px;
	color: #000000;
	font-size: 18px;
	font-family: 'Redressed', cursive;
}

#avenger{
	width: 100%;
}
.comment{
	margin: 10px 90px;
	padding: 8px;
	background-color: #D5DBDB;
	border-radius: 8px;
	width: 300px;
	font-family: Calibri Light;
}
.comment:hover{
	opacity: 0.8;
}
#date {
	color: #676A6B;
	padding-left: 40%;
}
.adress {
	padding-top: 50px;
}
button {
	margin-left: 85%;
}
#trashBox {
	height: 25px;
}
.footer{
	display: flex;
	align-items: center;
	background-color: #ed1d24;
	padding: 7px;
}
.fa {
  padding: 7px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  color: white;

}
.fa:hover {
  opacity: 0.7;
}
#fEnd{
	padding-left: 45%;
	color: white;
	font-family: 'Redressed', cursive;
}
.main{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
textarea{
	width: 300px;
	height: 200px;
}
input{
	width: 200px;
	height: 18px;
}