<div class="footer">
    <a href="http://youtube.com/marvel" class="fa fa-youtube"></a>
    <a href="http://instagram.com/marvel" class="fa fa-instagram"></a>
    <a href="https://www.pinterest.com/marvelofficial" class="fa fa-pinterest"></a>
    <a href="http://facebook.com/marvel" class="fa fa-facebook"></a>
    <p id="fEnd">© Designed by president of Marvel Studios Mher Khachatryan</p>
</div>