<!DOCTYPE html>
<html>
<head>
	<%- include ('../include_modules/head.ejs') %>
</head>
<body>
	<%- include ('../include_modules/header.ejs') %>
	<link rel="stylesheet" type="text/css" href="Hsingle.css">
<!----------------------------------------------------HEADER END-------------------------------------------------->
	<img id="avenger" src="avengers.jpg">
	<div class="main">
			<img src="Hawkeye.jpg">
			<div class="child">
				<h2>Hawkeye</h2>
				<p>Clint Barton tried several times to quit his job with the Avengers and retire. After he managed to bring back his family, who disappeared at the click of Thanos, this dream seemed to come true.Clint is the only one of the original six Avengers who didn't have a solo movie; instead, he got his own TV series, which will be released in late 2021. In it, Barton will be joined by the girl Kate Bishop, who will become the new Hawkeye. Also appearing in the series is Elena Belova, an associate of Natasha Romanoff, whose debut in the film universe will take place in "Black Widow".</p> <br>
				<a href="/products" id="blueBtn">Back</a> <br>
			</div>
		</div>
<!----------------------------------------------------MAIN END----------------------------------------------->
<%- include ('../include_modules/footer.ejs') %>

<!----------------------------------------------------FOOTER END----------------------------------------------->
</body>
</html>