<!DOCTYPE html>
<html>
<head>
	<%- include ('../include_modules/head.ejs') %>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>	
	<%- include ('../include_modules/header.ejs') %>
	<!----------------------------------------------------HEADER END----------------------------------------------->
   
		<img id="avenger" src="avengers.jpg">
		<div class="main">
			<img src="serials-marvel-shows.jpeg">
			<div class="child">
			<h2>Marvel's New Approach to Content Production</h2>
			<p>The Marvel cinematic universe returns with series after a long hiatus.The first of five Marvel superhero series planned for this year is "Wanda/Vision" launched on Disney+. But according to Kevin Feige, not all Marvel series will have a second or third season. The studio plans to adhere to a more flexible scheme, when characters from the series move to full-length films, and from there can return to TV screens. </p> <br>
			<a href="/products" id="blueBtn">Read About Serials</a>
			<a href="https://www.kinopoisk.ru/media/article/4003826/" id="redBtn">Original Source</a> 
			</div>
		</div>

<!----------------------------------------------------MAIN END----------------------------------------------->
<%- include ('../include_modules/footer.ejs') %>
<!----------------------------------------------------FOOTER END----------------------------------------------->	
</body>
</html>