<!DOCTYPE html>
<html>
<head>
	<%- include ('../include_modules/head.ejs') %>
</head>
<body>
	<%- include ('../include_modules/header.ejs') %>
	<link rel="stylesheet" type="text/css" href="products-style.css">
<!----------------------------------------------------HEADER END-------------------------------------------------->
	<img id="avenger" src="avengers.jpg">
	<div class="main">
		<div class="wandavision">
			<img id="wanda" src="wandavision-poster.jpg">
			<p id="info">"Marvel Studios presents a visionary new age of television"<br> Wanda and Vision are newlyweds living in the idyllic town of Westview. At first, the life of the heroes seems to them the ideal of pono, but gradually they realize that it is not so.</p>
			<a href="/WandaVision" id="blueBtn">Read More</a>
			<a href="https://www.kinopoisk.ru/series/1203040/" id="redBtn">Original Source</a>
		</div>

    	<div class="WinterSoldier">
			<img src="300x450.jpg"></a>
			<p id="info">Sam Wilson will try on the costume of the new Captain America and try to cope with the mission assigned to him by Steve Rogers. Bucky, in turn, is ready to become a part of society again and get to know everything that the modern world offers.</p>
			<a href="/WinterSoldier" id="blueBtn">Read More</a>
			<a href="https://www.kinopoisk.ru/series/1209203/" id="redBtn">Original Source</a>
		</div>
		<div class="Loki">
			<img id="Loki" src="tpmuf2dno3e31.jpg">
			<p id="info">Loki falls into the mysterious organization "Time Change Management" after he stole the Tesseract, and travels through time, changing history.</p>
			<a href="/Loki" id="blueBtn">Read More</a>
			<a href="https://www.kinopoisk.ru/series/1203039/" id="redBtn">Original Source</a>
		</div>
	</div> <!-- <br> -->
	<div class="mHawkeye">
		<img id="hawkeye" src="Hawkeye.png">
		<div class="hawkeye">
			<p id="info">Hawkeye is ready to retire, but first he must find a suitable replacement, so he begins to train a new Hawkeye-a young Kate Bishop. Barton must teach Kate how to be a superhero without superpowers and save people, relying solely on their skills, ingenuity and accuracy.</p>
			<a href="/Hawkeye" id="blueBtn">Read More</a>
			<a href="https://www.kinopoisk.ru/series/1203039/" id="redBtn">Original Source</a>
		</div>	
	</div>
<!----------------------------------------------------MAIN END----------------------------------------------->
<%- include ('../include_modules/footer.ejs') %>

<!----------------------------------------------------FOOTER END----------------------------------------------->
</body>
</html>