<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../include_modules/head.ejs') %>
   <link rel="stylesheet" href="signIn-style.css">
</head>
<body>
   <div class="header">
      <a  href="https://www.marvel.com/"><img id="logo" src="1200px-MarvelLogo.svg.png"></a>	
      <div class="authentication">
          <a id="logIn" href="/sign-in">Log In</a>
      </div>
  </div>



</body>
</html>