<!DOCTYPE html>
<html>
<head>
	<%- include ('../include_modules/head.ejs') %>
</head>
<body>
	<%- include ('../include_modules/header.ejs') %>
	<link rel="stylesheet" type="text/css" href="Trailers-style.css">
<!----------------------------------------------------HEADER END-------------------------------------------------->
	
	<img id="avenger" src="avengers.jpg">
	<h2 id="title">New Trailers</h2>
	<div class="main">
		<h2>Black Widow</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/ybji16u608U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
		<h2>The Falcon and The Winter Soldier</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/cbCwDNFmSUU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
		<h2>Loki</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/bn33WXgEm64" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
		<h2>What If...</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/72HvFU6ZDHI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <br><br>
		<h2>WandaVision</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/UBhlqe2OTt4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	
<!----------------------------------------------------MAIN END----------------------------------------------->
<%- include ('../include_modules/footer.ejs') %>

<!----------------------------------------------------FOOTER END----------------------------------------------->
</body>
</html>