<!DOCTYPE html>
<html>
<head>
	<%- include ('../include_modules/head.ejs') %>
</head>
<body>
	<%- include ('../include_modules/header.ejs') %>
	<link rel="stylesheet" type="text/css" href="Wsingle.css">
<!----------------------------------------------------HEADER END-------------------------------------------------->
	<img id="avenger" src="avengers.jpg">
	<div class="main">
			<img src="scale.jpg">
			<div class="child">
			<h2>WandaVision</h2>
			<p>The series takes place after the tragic events of the last "Avengers". Then the villain Thanos destroyed half of the Universe, but the superheroes still managed to rewind the disaster back. However, on the screen for some reason serene 1950s, tinted in a retro series. <br> 
			Wanda becomes a housewife and uses her magical powers to clean and cook, while Android Vision, who has learned to take human form, works in an office, where she performs mathematical calculations faster than anyone else.In fact, the first two episodes are a complete hoax. Their main plot only entertains the viewer and at the same time makes you feel uncomfortable. Much more important are the small references and hints that occasionally flash in the frame. Therefore, you should pay attention to background details, voices on the radio, and even fake ads. And of course, for the series finales. </p> <br>
			<a href="/products" id="blueBtn">Back</a>
			</div>
		</div>
<!----------------------------------------------------MAIN END----------------------------------------------->
<%- include ('../include_modules/footer.ejs') %>

<!----------------------------------------------------FOOTER END----------------------------------------------->
</body>
</html>